<h1>Listing translates</h1>

<table>
  <thead>
    <tr>
      <th>Brasileira</th>
      <th>Inglesa</th>
      <th>Data</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @translates.each do |translate| %>
      <tr>
        <td><%= translate.brasileira %></td>
        <td><%= translate.inglesa %></td>
        <td><%= translate.data %></td>
        <td><%= link_to 'Show', translate %></td>
        <td><%= link_to 'Edit', edit_translate_path(translate) %></td>
        <td><%= link_to 'Destroy', translate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Translate', new_translate_path %>
